# Simple Linear Regression (SLR)

#### Libraries set up

In [1]:
import pandas as pd

import numpy as np

import statsmodels.api as sm

from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt

import seaborn as sn

%matplotlib inline

from scipy.stats import zscore

from statsmodels.graphics.regressionplots import influence_plot

from sklearn.metrics import r2_score, mean_squared_error

from statsmodels.sandbox.regression.predstd import wls_prediction_std

#### Other parameters setup

In [3]:
# set to 4 decimal places
np.set_printoptions(precision=4, linewidth=1000)

In [8]:
%pwd

'C:\\Users\\kotre\\ipl_data_analysis_python\\regression'

In [9]:
mba_salary_df = pd.read_csv('C:/Users/kotre/ipl_data_analysis_python/Data/MBA Salary.csv')

In [10]:
mba_salary_df.head()

   S. No.  Percentage in Grade 10  Salary
0       1                   62.00  270000
1       2                   76.33  200000
2       3                   72.00  240000
3       4                   60.00  250000
4       5                   61.00  180000

In [11]:
mba_salary_df.describe()

         S. No.  Percentage in Grade 10         Salary
count  50.00000               50.000000      50.000000
mean   25.50000               63.922400  258192.000000
std    14.57738                9.859937   76715.790993
min     1.00000               37.330000  120000.000000
25%    13.25000               57.685000  204500.000000
50%    25.50000               64.700000  250000.000000
75%    37.75000               70.000000  300000.000000
max    50.00000               83.000000  450000.000000

In [12]:
mba_salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
S. No.                    50 non-null int64
Percentage in Grade 10    50 non-null float64
Salary                    50 non-null int64
dtypes: float64(1), int64(2)
memory usage: 1.2 KB

#### Creating the X and Y

In [13]:
x=sm.add_constant(mba_salary_df['Percentage in Grade 10'])
x.head(5)

C:\Users\kotre\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

   const  Percentage in Grade 10
0    1.0                   62.00
1    1.0                   76.33
2    1.0                   72.00
3    1.0                   60.00
4    1.0                   61.00

In [15]:
y=sm.add_constant(mba_salary_df['Salary'])
y.head()

C:\Users\kotre\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

   const  Salary
0    1.0  270000
1    1.0  200000
2    1.0  240000
3    1.0  250000
4    1.0  180000

#### Splitting the data to test and train

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
train_x, test_x, train_y, test_y = train_test_split(x,y,
                                                    train_size=0.8,
                                                    random_state=100)

C:\Users\kotre\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

#### Fitting the model

In [31]:
mba_salary_lm = sm.OLS(train_y, train_x).fit()

In [34]:
print(mba_salary_lm.rsquared())

ValueError: shapes (40,2) and (40,2) not aligned: 2 (dim 1) != 40 (dim 0)

In [22]:
print(mba_salary_lm)

<statsmodels.regression.linear_model.RegressionResultsWrapper object at 0x0000025E60DE64E0>

In [30]:
mba_salary_lm.summary2()

TypeError: only size-1 arrays can be converted to Python scalars